{% extends 'base.html' %}

{% block title %}
Jobs
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="text-center mb-5">

        <h2 class="fw-bold">
            Available Jobs
        </h2>

        <p class="text-muted">
            Find your dream job from the latest opportunities.
        </p>

    </div>

    <div class="row">

        {% for job in jobs %}

        <div class="col-md-4 mb-4">

            <div class="card shadow-sm h-100">

                <div class="card-body">

                    <h4 class="card-title fw-bold">
                        {{ job.title }}
                    </h4>

                    <span class="badge bg-primary mb-2">
                        {{ job.get_employment_type_display }}
                    </span>

                    <h6 class="text-primary">

                        {% if job.company.logo %}

                        <img src="{{ job.company.logo.url }}"
                             width="60"
                             height="60"
                             class="mb-3 rounded-circle">

                        {% endif %}

                        <a href="{% url 'company_detail' job.company.id %}"
                           class="text-decoration-none">

                            {{ job.company.name }}

                        </a>

                    </h6>

                    <p>
                        <i class="bi bi-geo-alt-fill"></i>
                        {{ job.location }}
                    </p>

                    <p>

                        <span class="badge bg-success fs-6">
                            ₹ {{ job.salary }}
                        </span>

                        <span class="badge bg-secondary">
                            {{ job.get_employment_type_display }}
                        </span>

                    </p>

                    <p class="card-text">
                        {{ job.description|truncatechars:120 }}
                    </p>

                </div>

                <div class="card-footer bg-white">

                    <a href="{% url 'job_detail' job.id %}"
                       class="btn btn-primary w-100">

                        View Details

                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12">

            <div class="alert alert-info text-center">

                <h4>No Jobs Available</h4>

                <p>Please check again later.</p>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}