{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        Recruiter Dashboard
    </h2>

    <div class="row">

        <div class="col-md-3">
            <div class="card shadow p-4 text-center">
                <h3>Add Job</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow p-4 text-center">
                <h3>Manage Jobs</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow p-4 text-center">
                <h3>Applicants</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow p-4 text-center">
                <h3>Companies</h3>
            </div>
        </div>

    </div>

</div>

{% endblock %}