{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:500px;">

<h2 class="mb-4">Login</h2>

<form method="POST">

{% csrf_token %}

<input
type="text"
name="username"
class="form-control mb-3"
placeholder="Username">

<input
type="password"
name="password"
class="form-control mb-3"
placeholder="Password">

<button class="btn btn-primary w-100">

Login

</button>

</form>

{% if error %}

<div class="alert alert-danger mt-3">

{{ error }}

</div>

{% endif %}

</div>

{% endblock %}