{% extends "base.html" %}

{% block title %}
Edit Job
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:800px;">

    <div class="card shadow">

        <div class="card-header bg-warning text-dark">

            <h3>Edit Job</h3>

        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="btn btn-success">

                    Update Job

                </button>

                <a href="{% url 'manage_jobs' %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}