body{

background:#f6f8fc;

font-family:Arial,Helvetica,sans-serif;

}

.hero{

background:linear-gradient(135deg,#0d6efd,#4da3ff);

color:white;

padding:100px 0;

}

.hero h1{

font-size:55px;

font-weight:bold;

}

.hero p{

font-size:20px;

margin-top:20px;

}

.search-box{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

margin-top:-45px;

}

.job-card{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

transition:.3s;

height:100%;

}

.job-card:hover{

transform:translateY(-8px);

}

footer{

margin-top:80px;

}